<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        {{ partial "nav.html" . }}
      </header>
    <!--
    <style>
    h1{
      text-align: center;
    }
    h2{
      text-align: center;
    }
    </style>
        <h1>
          Hi! I'm Alessio. <br> 
          A Statistician and a Data Scientist. 
        </h1>
        
        <h2>
          <img src = {{ "images/logo3.png" |relURL }} alt = "me logo" width= 150 height = 150 class = "center">       
        
        </h2>
        
        <h1>
          Welcome to my portfolio website.
        </h1>
        
        <h2>
          It's made with <a href="https://bookdown.org/yihui/blogdown/"> R blogdown</a> :)
        </h2>
        
  -->